# Análisis Exploratorio de Datos (EDA)

CAMBIARR

-----

Empiezo importando las librerias necesarias para realizar el análisis

In [79]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Elijo los CSV que me parecen importantes para realizarles un análisis, teniendo en cuenta que necesito conocer los aspectos mas importantes del comportamiento de los servicios de Internet a nivel nacional (Argentina).

In [80]:
# Leo y cargo en un DataFrame cada uno de los 6 CSVs que elegi
accesos_Provincia_Por_Velocidad = pd.read_csv('Dataset_Internet/00Accesos/Accesos_por_velocidad.csv', encoding='latin1')
totalesarg_Accesos_Por_Velocidad = pd.read_csv('Dataset_Internet/00Accesos/Totales_Accesos_por_velocidad.csv', encoding='latin1')
velocidad_Total_Por_Provincia = pd.read_csv('Dataset_Internet/03Velocidad/Velocidad_por_provincia.csv', encoding='latin1')
internet_IngresosTotalesxTrimestre = pd.read_csv('Dataset_Internet/02Totales/Internet_IngresosTotalesxTrimestre.csv', encoding='latin1')
penetracion_Hogares = pd.read_csv('Dataset_Internet/01Penetracion/Penetracion-hogares.csv', encoding='latin1')
penetracion_Totalesarg = pd.read_csv('Dataset_Internet/01Penetracion/Penetracion-totales.csv', encoding='latin1')

Ahora voy a ir por cada uno de los datasets analizando detenidamente las siguientes cosas:
1.Aspectos Generales del dataset: como el tipo de variables (ya sean categoricas o numericas), la cantidad de columnas, y de que trata por encima.
2.Descripcion Estadistica: viendo las tendencias centrales y principales.

In [88]:
accesos_Provincia_Por_Velocidad.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,1,Buenos Aires,26.002,22.510,221.185,233.225,241.778,106.418,4.068.292,125.147,5.044.557
1,2024,1,Capital Federal,516.000,5.418,29.753,51.415,37.369,5.957,1.374.283,0.000,1.504.711
2,2024,1,Catamarca,71.000,176.000,2.872,3.424,4.204,1.822,62.294,70.000,74.933
3,2024,1,Chaco,236.000,416.000,14.156,9.044,5.533,5.718,116.624,3.816,155.543
4,2024,1,Chubut,111.000,1.083,43.828,31.885,23.024,20.261,33.844,16.640,170.676

In [87]:
accesos_Provincia_Por_Velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  984 non-null    int64
 1   Trimestre            984 non-null    int64
 2   Provincia            984 non-null    object
 3   HASTA 512 kbps       984 non-null    float64
 4   + 512 Kbps - 1 Mbps  984 non-null    float64
 5   + 1 Mbps - 6 Mbps    984 non-null    object
 6   + 6 Mbps - 10 Mbps   984 non-null    float64
 7   + 10 Mbps - 20 Mbps  984 non-null    float64
 8   + 20 Mbps - 30 Mbps  984 non-null    float64
 9   + 30 Mbps            984 non-null    object
 10  OTROS                978 non-null    float64
 11  Total                984 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 92.4+ KB

En el primer dataset veo que tengo variables categoricas(nominales y ordinales) y numericas(discretas), el ancho de banda (o velocidad) en Mbps por cada provincia a traves de la ultima decada, considerando todos los trimestres. De este dataset me pregunto por ejemplo, cual sera la provincia que mas

In [82]:
totalesarg_Accesos_Por_Velocidad.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,1,28.801,69.355,866.152,950.930,672.155,353.896,8.363.694,328.173,11.633.156
1,2023,4,29.708,71.742,900.253,978.108,697.232,350.290,8.224.736,295.592,11.547.661
2,2023,3,30.274,80.609,945.608,998.725,720.084,350.918,8.003.269,277.421,11.406.908
3,2023,2,30.827,79.405,963.510,1.028.250,734.125,364.730,7.775.095,275.955,11.251.897
4,2023,1,31.437,82.048,1.001.553,1.060.321,729.194,357.769,7.564.819,414.754,11.241.895

In [83]:
velocidad_Total_Por_Provincia.head()

    Año  Trimestre        Provincia Mbps (Media de bajada)
0  2024          1     Buenos Aires                 159,13
1  2024          1  Capital Federal                 229,94
2  2024          1        Catamarca                  91,45
3  2024          1            Chaco                 107,51
4  2024          1           Chubut                  20,50

In [84]:
internet_IngresosTotalesxTrimestre.head()

    Año   Trimestre  Ingresos (miles de pesos)         Periodo
0  2024            1           280.419.124,08     Ene-Mar 2024
1  2023            4           167.376.014,80     Oct-Dic 2023
2  2023            3           133.106.593,41    Jul-Sept 2023
3  2023            2           118.060.280,28     Jun-Mar 2023
4  2033            1           104.134.992,81     Ene-Mar 2023

In [85]:
penetracion_Hogares.head()

    Año   Trimestre          Provincia  Accesos por cada 100 hogares
0  2024            1      Buenos Aires                        81,10
1  2024            1   Capital Federal                       119,53
2  2024            1         Catamarca                        68,82
3  2024            1             Chaco                        46,70
4  2024            1            Chubut                        84,89

In [86]:
velocidad_Total_Por_Provincia.head()

    Año  Trimestre        Provincia Mbps (Media de bajada)
0  2024          1     Buenos Aires                 159,13
1  2024          1  Capital Federal                 229,94
2  2024          1        Catamarca                  91,45
3  2024          1            Chaco                 107,51
4  2024          1           Chubut                  20,50