# Análisis Exploratorio de Datos (EDA)

En este EDA, abordo el análisis del dataset "Internet.xlsx", desglosándolo primero, eligiendo los que para mi consideración son los datasets más importantes,

-----

Empiezo importando las librerias necesarias para realizar el análisis

In [9]:
import pandas as pd
import matplotlib as plt

Elijo los CSV que me parecen importantes para realizarles un análisis, teniendo en cuenta que necesito conocer los aspectos mas importantes del comportamiento de los servicios de Internet a nivel nacional (Argentina).

In [10]:
# Leo y cargo en un DataFrame cada uno de los 6 CSVs que elegi
accesos_por_tecnologia = pd.read_csv('Dataset_Internet/00 Accesos/Accesos_por_tecnologia.csv', encoding='latin1')
accesos_por_velocidad = pd.read_csv('Dataset_Internet/00 Accesos/Accesos_por_velocidad.csv', encoding='latin1')
velocidad_por_provincia = pd.read_csv('Dataset_Internet/03 Velocidad/Velocidad_por_provincia.csv', encoding='latin1')
internet_IngresosTotalesxTrimestre = pd.read_csv('Dataset_Internet/02 Totales/Internet_IngresosTotalesxTrimestre.csv', encoding='latin1')
penetracion_hogares = pd.read_csv('Dataset_Internet/01 Penetracion/Penetracion-hogares.csv', encoding='latin1')
totales_Accesos_por_tecnologia = pd.read_csv('Dataset_Internet/02 Totales/Totales_Accesos_por_tecnologia.csv', encoding='latin1')

Empiezo aplicando un .head() a cada DataFrame

In [11]:
accesos_por_tecnologia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203.297,2.790.663,1.799.013,150.290,101.294,5.044.557
1,2024,1,Capital Federal,70.108,1.177.475,203.756,4.493,48.879,1.504.711
2,2024,1,Catamarca,5.901,11.025,56.542,1.384,81.000,74.933
3,2024,1,Chaco,11.343,58.929,64.463,8.404,12.404,155.543
4,2024,1,Chubut,26.306,77.217,26.356,30.867,9.930,170.676

In [12]:
accesos_por_velocidad.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,1,Buenos Aires,26.002,22.510,221.185,233.225,241.778,106.418,4.068.292,125.147,5.044.557
1,2024,1,Capital Federal,516.000,5.418,29.753,51.415,37.369,5.957,1.374.283,0.000,1.504.711
2,2024,1,Catamarca,71.000,176.000,2.872,3.424,4.204,1.822,62.294,70.000,74.933
3,2024,1,Chaco,236.000,416.000,14.156,9.044,5.533,5.718,116.624,3.816,155.543
4,2024,1,Chubut,111.000,1.083,43.828,31.885,23.024,20.261,33.844,16.640,170.676

In [13]:
velocidad_por_provincia.head()

    Año  Trimestre        Provincia Mbps (Media de bajada)
0  2024          1     Buenos Aires                 159,13
1  2024          1  Capital Federal                 229,94
2  2024          1        Catamarca                  91,45
3  2024          1            Chaco                 107,51
4  2024          1           Chubut                  20,50

In [14]:
internet_IngresosTotalesxTrimestre.head()

    Año   Trimestre  Ingresos (miles de pesos)         Periodo
0  2024            1           280.419.124,08     Ene-Mar 2024
1  2023            4           167.376.014,80     Oct-Dic 2023
2  2023            3           133.106.593,41    Jul-Sept 2023
3  2023            2           118.060.280,28     Jun-Mar 2023
4  2033            1           104.134.992,81     Ene-Mar 2023

In [15]:
penetracion_hogares.head()

    Año   Trimestre          Provincia  Accesos por cada 100 hogares
0  2024            1      Buenos Aires                        81,10
1  2024            1   Capital Federal                       119,53
2  2024            1         Catamarca                        68,82
3  2024            1             Chaco                        46,70
4  2024            1            Chubut                        84,89

In [16]:
totales_Accesos_por_tecnologia.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,1,774.475,5.986.957,4.015.101,598.682,257.941,11.633.156,Ene-Mar 2024
1,2023,4,836.390,6.022.532,3.908.183,585.760,194.796,11.547.661,Oct-Dic 2023
2,2023,3,897.895,6.018.832,3.708.718,581.436,200.027,11.406.908,Jul-Sept 2023
3,2023,2,1.006.509,5.997.149,3.463.988,581.823,202.428,11.251.897,Abr-Jun 2023
4,2023,1,1.204.417,6.002.582,3.243.411,576.647,214.838,11.241.895,Ene-Mar 2023